html {
  --color-active: #ff784f;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
}

#root {
  max-width: fit-content;
  margin: auto;
  background: linear-gradient(#dce9e3, #fff, #d4e9e9);
  border: 2px solid black;
  border-radius: 15px;
  height: 600px;
  min-width: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

main {
  height: 90%;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 5px;
}

header {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: var(--color-active);
  transition: all 0.5s;
}

select,
button {
  cursor: pointer;
}

button:hover {
  color: var(--color-active);
  transition: all 0.5s;
}

.active * {
  color: var(--color-active);
}

header h3 {
  margin: 5px;
}

.transparent-btn {
  border: none;
  background-color: transparent;
}

.search input,
.sort-by select {
  margin: 0 auto;
  display: block;
  text-align: center;
  border-radius: 5px;
}

.search input:focus {
  text-align: left;
}

.sort-by {
  margin-top: 5px;
}

.contacts {
  overflow-y: auto; /* scroll */
  height: 80%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact {
  display: flex;
  align-items: center;
  gap: 5px;
}

.circle {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  display: inline-block;
  border: 1px solid green;
}

.form {
  margin: auto;
  margin-top: 100px;
  width: 150px;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0 4px 16px #ccc;
}

.form__title {
  text-align: center;
  margin: 0 0 32px 0;
}

.form__button {
  margin-left: 33px;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  background-color: #0071f0;
  cursor: pointer;
  transition: background-color 0.5s;
}

.form__group {
  margin-bottom: 32px;
}

.form__input {
  width: 100%;
  padding: 0px 0px 10px 0px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
  outline: none;
  transition: border-bottom 0.5s;
}

.form__input:invalid {
  border-color: red;
}

.form__input:valid {
  border-color: green;
}

.form__button:focus,
.form__button:hover {
  background-color: rgba(0, 113, 240, 0.7);
}

.form__input:focus {
  border-bottom: 1px solid #000;
}
